<!DOCTYPE html>
<html>
  <head>
    <title>Maria Casado</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="/dist/output.css" rel="stylesheet">
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

  </head>

  <body>

    <% if content_for? :menu %>
      <%= yield %>

    <% else %>
      <%= render 'shared/navbar' %>
      <%= yield %>
      <%= render 'shared/footer' %>

    <% end %>

  </body>

</html>
